.mainNavbarContainer {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.mainNavbarContainer h1 {
  color: white;
}
