.countryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 350px;
}

.countryCard * {
  margin: 0.4rem;
}

.countryCard img {
  width: 80%;
}

.latlng {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
